html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 3rem;
}

.menu {
  max-width: 100%;
  background-color: #f76c6c;
  padding: 0.5rem;
}

.menu-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  gap: 0.8rem;
}

.menu-nav li {
  color: #fff;
  font-size: 2rem;
}

.image-head {
  width: 100%;
  height: 400px;
  background-image: url("img/teddy-bear-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5% 15%;
  background-color: #f2f2f2;
}

.about {
  margin-bottom: 5%;
}

h3 {
  margin-bottom: 3%;
}

.about p {
  font-size: 1.2rem;
}

.posts {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  
}

.post-first, .post-second {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.post {
  width: 400px;
  height: 100px;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post p {
  font-weight: 700;
}

footer {
  max-width: 100%;
  background-color: #f76c6c;
  color: #060100;
  padding: 0.2rem;
}

footer p {
  font-weight: 700;
}
